body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  overflow: hidden;
}

$protrudingHeight: 10vh;
$circleTopPosition: 65vh;
$dropHeight: 10vh;
$baseDelay: 1s;

.green {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  &__line {
    position: relative;
    top: -$protrudingHeight;
    left: 0;
    width: 20%;
    height: 100vh + $protrudingHeight;
    border-radius: 0 8px 0 0;
    z-index: 10;
    &--1 {
      animation: btm-to-top 1s forwards;
      animation-delay: $baseDelay;
    }
    &--2 {
      animation: btm-to-top 1.1s forwards;
      animation-delay: $baseDelay;
    }
    &--3 {
      animation: btm-to-top 1.2s forwards;
      animation-delay: $baseDelay;
    }
    &--4 {
      animation: btm-to-top 1.3s forwards;
      animation-delay: $baseDelay;
    }
    &--5 {
      animation: btm-to-top 1.4s forwards;
      animation-delay: $baseDelay;
    }
    &--6 {
      animation: btm-to-top 1.5s forwards;
      animation-delay: $baseDelay;
    }
    &--7 {
      animation: btm-to-top 1.6s forwards;
      animation-delay: $baseDelay;
    }
    &--8 {
      animation: btm-to-top 1.7s forwards;
      animation-delay: $baseDelay;
    }
    &--9 {
      animation: btm-to-top 1.8s forwards;
      animation-delay: $baseDelay;
    }
    &--10 {
      animation: btm-to-top 1.9s forwards;
      animation-delay: $baseDelay;
    }
  }
  &__drop {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 10px;
    height: $dropHeight;
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 10;
    &--1 {
      animation: drop 0.4s ease-in-out forwards;
      animation-delay: $baseDelay + 1.3s;
    }
    &--2 {
      animation: drop 0.4s ease-in-out forwards;
      animation-delay: $baseDelay + 3.1s;
    }
    &--3 {
      animation: drop 0.6s ease-in-out forwards;
      animation-delay: $baseDelay + 3.9s;
    }
  }
  &__circle {
    display: block;
    position: absolute;
    top: $circleTopPosition;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    z-index: 10;
    &--1 {
      border: solid #fff 0px;
      animation: ripple 1s ease-in forwards;
      animation-delay: $baseDelay + 1.7s;
    }
    &--2 {
      border: solid #fff 0px;
      animation: ripple 1s ease-in forwards;
      animation-delay: $baseDelay + 2s;
    }
    &--3 {
      border: solid #fff 0px;
      animation: ripple 1s ease-in forwards;
      animation-delay: $baseDelay + 2.2s;
    }
    &--4 {
      border: solid #fff 0px;
      animation: ripple 1s ease-in forwards;
      animation-delay: $baseDelay + 2.4s;
    }
    &--5 {
      border: solid #fff 0px;
      animation: ripple 1s ease-in forwards;
      animation-delay: $baseDelay + 3.5s;
    }
    &--last {
      background: #fff;
      animation: rippleLast 0.4s ease forwards;
      animation-delay: $baseDelay + 4.5s;
    }
  }
}
$firstAnimationEndTime: $baseDelay + 4.5s;

.content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  &__title {
    position: absolute;
    text-align: center;
    font-size: 3em;
    font-weight: 200;
    opacity: 0;
    &--1 {
      animation: fadeText 2s ease forwards;
      animation-delay: $firstAnimationEndTime + 1s;
    }
    &--2 {
      animation: fadeText 2s ease forwards;
      animation-delay: $firstAnimationEndTime + 3;
    }
  }
}
$secondAnimationEndTime: $firstAnimationEndTime + 3s;

.curtain {
  display: flex;
  height: 100vh;
  &__left {
    width: 12.5%;
    border-left: solid rgba(0, 0, 0, 0.1) 8px;
    background: rgb(255, 69, 58);
    z-index: 30;
    opacity: 0;
    &--1 {
      animation: rightCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
    &--2 {
      animation: rightCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
    &--3 {
      animation: rightCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
    &--4 {
      border-right: solid rgba(0, 0, 0, 0.1) 5px;
      border-radius: 0 0 50% 0;
      animation: rightCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
  }
  &__right {
    width: 12.5%;
    border-right: solid rgba(0, 0, 0, 0.1) 8px;
    background: rgb(255, 69, 58);
    z-index: 30;
    opacity: 0;
    &--1 {
      border-left: solid rgba(0, 0, 0, 0.1) 5px;
      border-radius: 0 0 0 50%;
      animation: leftCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
    &--2 {
      animation: leftCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
    &--3 {
      animation: leftCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
    &--4 {
      animation: leftCurtain 1.5s ease forwards;
      animation-delay: $secondAnimationEndTime + 1s;
    }
  }
}
$thirdAnimationEndTime: $secondAnimationEndTime + 2s;

.red-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(255, 69, 58);
  animation: appear 2s ease forwards;
  animation-delay: $thirdAnimationEndTime + 0.5s;
  opacity: 0;
  z-index: 40;
}
.circle {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 3200px;
  height: 1600px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  z-index: 40;
  &--left {
    left: 15vw;
    animation: bound 1.5s ease-in-out 2;
    animation-delay: $thirdAnimationEndTime + 1.5s;
  }
  &--center {
    animation: bound 1.5s ease-in-out 2;
    animation-delay: $thirdAnimationEndTime + 2s;
  }
  &--right {
    left: 85vw;
    animation: bound 1.5s ease-in-out 2;
    animation-delay: $thirdAnimationEndTime + 2.5s;
  }
}
$fourthAnimationEndTime: $thirdAnimationEndTime + 2.5s + 1.5s;

.white {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  animation: appear 0.01s ease forwards;
  animation-delay: $fourthAnimationEndTime + 1.5s;
  opacity: 0;
  &__line {
    width: 100%;
    height: 20vh;
    z-index: 50;
    &--odd {
      animation: left-to-right 1.5s ease-in-out forwards;
      animation-delay: $fourthAnimationEndTime + 1s;
    }
    &--even {
      animation: right-to-left 1.5s ease-in-out forwards;
      animation-delay: $fourthAnimationEndTime + 1s;
    }
  }
}
$fifthAnamationEndTime: $fourthAnimationEndTime + 1.5s;

@keyframes bound {
  10% {
    width: 5vw;
    width: 5vw;
  }
  20% {
    width: 17.5vw;
    height: 12.5vw;
  }
  40% {
    width: 12.5vw;
    height: 17.5vw;
    opacity: 1;
  }
  50% {
    width: 15vw;
    height: 15vw;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 1;
  }
}
@keyframes btm-to-top {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    background: green;
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes right-to-left {
  from {
    transform: translateX(100%);
  }
  to {
    background: #fff;
    transform: translateX(0);
  }
}
@keyframes left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    background: #fff;
    transform: translateX(0);
  }
}
@keyframes ripple {
  from {
    border-width: 5px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  to {
    width: 80vw;
    height: 40vw;
    opacity: 0;
    display: none;
  }
}
@keyframes rippleLast {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 2800px;
    height: 1400px;
  }
}
@keyframes drop {
  to {
    width: 1px;
    height: 150px;
    background: #fff;
    opacity: 0;
    transform: translateY($circleTopPosition - $dropHeight * 2);
  }
}
@keyframes fadeText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@keyframes leftCurtain {
  from {
    transform: translateX(100vw) skew(15deg);
  }
  to {
    opacity: 1;
    border-radius: 0;
    transform: translateX(0) skew(0);
  }
}
@keyframes rightCurtain {
  from {
    transform: translateX(-70vw) skew(-15deg);
  }
  to {
    opacity: 1;
    border-radius: 0;
    transform: translateX(0) skew(0);
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
